float:ribody{
margin:0;
background-color:#FBD9F3;
}

.vertical-block{
width:10%;
float:left;
height:800px;
display:block;
background-color:#D4F4FA;
}
.block-two{
width:90%;
float:right;
display:block;
background-color:#DAC3EF;
}
.text-one{
width:50%;
padding:5px;
float:left;
display:block;
background-color:#DAC3EF;
}
.img-one{
width:45%;
float:right;
display:block;
background-color:#DAC3EF;
}
.text-two{
width:65%;
padding:5px;
float:right;
display:block;
background-color:#DAC3EF;
}
.img-two{
width:25%;
float:left;
display:block;
background-color:#DAC3EF;
}
.text-htree{
width:50%;
padding:5px;
float:left;
display:block;
background-color:#DAC3EF;
}
.img-htree{
width:45%;
float:right;
display:block;
background-color:#DAC3EF;
}
<!DOCTYPE html>
<html>
<head>
<title>!DOCTYPE</title>
<meta charset="utf-8">
<link rel="stylesheet" href="geometriya.css" type="text/css"/>
</head>
